.social-icons {
    margin: 0 auto;
    padding-top: 10px;
}
.social-icons li {
    display:inline-block;
    list-style-type:none;
    -webkit-user-select:none;
    -moz-user-select:none;
}
.social-icons li a {
    border-bottom: none;
}
.social-icons li img {
    width:70px;
    height:70px;
}
ul {
    padding: 0;
    margin: 0;
}
