---
layout: page
title: Projects - Ian Quain
permalink: /projects
---
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h5>"How does a project get to be a year behind schedule? One day at a time." -Fred Brooks</h5>
        <h3>Personal</h3>
        <hr></hr>
        <ul>
            {% for post in site.categories.personal %}
            {% if post.url %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-3"></div>
</div>
<br></br>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h3>School</h3>
        <hr></hr>
        <ul>
            {% for post in site.categories.school %}
            {% if post.url %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-3"></div>
</div>
<br></br>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h6>Projects are sorted by time of completetion. Only in the event of a major refactoring, I will repost. Maintenance on a project may have occured past the published date. The source code for my school projects are made public at the discretion of my course professors. If you are a potential employer and wish to see otherwise private source code, please contact me by email.</h6>
    </div>
    <div class="col-3"></div>
</div>
<br></br>
<!-- <div class="row">
     <div class="col-3"></div>
     <div class="col-6">
     <h3>Open Source Contributions</h3>
     <hr></hr>
     </div>
     <div class="col-3"></div>
     </div>
     <div class="row">
     <div class="col-3"></div>
     <div class="col-6">
     <h3>Work</h3>
     <hr></hr>
     </div>
     <div class="col-3"></div>
     </div> -->
