---
layout: page
title: Projects - Ian Quain
permalink: /projects
---
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h3>Personal</h3>
        <hr></hr>
        <ul>
            {% for post in site.categories.personal %}
            {% if post.url %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-3"></div>
</div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h3>School</h3>
        <hr></hr>
        <ul>
            {% for post in site.categories.school %}
            {% if post.url %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-3"></div>
</div>
<br></br>
<!-- <div class="row">
     <div class="col-3"></div>
     <div class="col-6">
     <h3>Open Source</h3>
     <hr></hr>
     </div>
     <div class="col-3"></div>
     </div> -->
