<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Ian Quain">
        <title>Sticky Footer · Bootstrap</title>

        <!-- Custom styles for this template -->
        <link href="assets/quaini/sticky-footer.css" rel="stylesheet">
    </head>


<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>
</html>
