<!-- Custom styles for this template -->
<link href="../assets/quaini/icons.css" rel="stylesheet">

<ul class="social-icons">
    <li><a href={{ site.github }}><img src='../assets/zest-social/images/brands/github.svg'/></a></li>
    <li><a href={{ site.linkedin }}><img src='../assets/zest-social/images/brands/linkedin.svg'/></a></li>
    <li><a href={{ site.stackoverflow }}><img src='../assets/zest-social/images/brands/stack-overflow.svg'/></a></li>
    <li><a href={{ site.youtube }}><img src='../assets/zest-social/images/brands/youtube.svg'/></a></li>
    <li><a href="mailto:{{ site.email }}"><img src='../assets/zest-social/images/messaging/at-symbol.svg'/></a></li>
</ul>
