<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Ian Quain">


        <link rel="stylesheet" href="../assets/css/bootstrap.css">
    </head>

    <body>
        {% include navbar.html %}

        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {{ content }}
            </div>
        </main>

        {% include footer.html %}
    </body>

</html>
